<!DOCTYPE html>
<html lang="en">
<head>
    <title>REV DMPT Survey</title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />'
</head>
<body>
<div class='wrapper'>
    <div class = 'main-row'>
        <div class='column light' style="flex: 398;">
            <div class='row border' style="flex:339;">
                <h1>TRIM: LUXURY</h1>
            </div>
            <div class='row border' style="flex: 1027;">
                <h1>CONFIGURATION</h1>
            </div>
        </div>
        <div class='column' style="flex: 968;">
            <div class='row light' style="flex: 143;">
                <div class='column'>
                    <div class='row border'>
                        <h1>General Motors</h1>
                    </div>
                    <div class='row border'>
                        <h1>Client</h1>
                    </div>
                </div>
                <div class='column'>
                    <div class='row border'>
                        <h1>01246</h1>
                    </div>
                    <div class='row border'>
                        <h1>Participant ID</h1>
                    </div>
                </div>
                <div class='column'>
                    <div class='row border'>
                        <h1>01246</h1>
                    </div>
                    <div class='row border'>
                        <h1>Participant ID</h1>
                    </div>
                </div>
            </div>
            <div class='row dark' style="flex: 373;">
            </div>
            <div class='row light' style="flex: 33;">
            </div>
            <div class='row dark' style="flex: 63;">
            </div>
            <div class='row light' style="flex: 33;">
            </div>
            <div class='row dark' style="flex: 63;">
            </div>
            <div class='row light' style="flex: 63;">
            </div>
            <div class='row dark' style="flex: 252;">
            </div>
        </div>
    </div>
</body>
</html>