<!DOCTYPE html>
<html lang="en">
<head>
    <title>REV DMPT Survey</title>
    <meta charset="UTF-8">
    <script src="javascripts/index.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />'
</head>
<body>



<div class='wrapper'>
    <div class = 'main-row'>
        <div class='column light' style="flex: 1;">
            <div class='row border'>
                <h1>TRIM: LUXURY</h1>
            </div>
            <div class='row border'>
                <h1>CONFIGURATION</h1>
            </div>
        </div>
        <div class='column' style="flex: 3;">
            <div class='row light'>
                <div class='column'>
                    <div class='row border'>
                        <h1>General Motors</h1>
                    </div>
                    <div class='row border'>
                        <h1>Client</h1>
                    </div>
                </div>
                <div class='column'>
                    <div class='row border'>
                        <h1>01246</h1>
                    </div>
                    <div class='row border'>
                        <h1>Participant ID</h1>
                    </div>
                </div>
                <div class='column'>
                    <div class='row border'>
                        <h1>01246</h1>
                    </div>
                    <div class='row border'>
                        <h1>Participant ID</h1>
                    </div>
                </div>
            </div>
            <div class='row dark'>
                <div class='column'>
                    <div class='row border'>
                        <h1>Data Parameters: Cadillac Lyriq</h1>
                    </div>
                    <div class='row'>
                        <div class='column'>
                            <div class='row border'>
                                <h1>Config. time var.</h1>
                            </div>
                            <div class='row border'>
                                <h1>Top Paint Finish</h1>
                            </div>
                            <div class='row border'>
                                <h1>Top Trim Config</h1>
                            </div>
                            <div class='row border'>
                                <h1>Interior VS Exterior</h1>
                            </div>
                            <div class='row border'>
                                <h1>Time in Survey</h1>
                            </div>
                        </div>
                        <div class='column'>
                            <div class='row border'>
                                <h1>Wheels</h1>
                            </div>
                            <div class='row border'>
                                <h1>Opulent Blue</h1>
                            </div>
                            <div class='row border'>
                                <h1>TECH</h1>
                            </div>
                            <div class='row border'>
                                
                            </div>
                            <div class='row border'>
                                
                            </div>
                        </div>
                        <div class='column'>
                            <div class='row border'>
                                <h1>Paint Finish</h1>
                            </div>
                            <div class='row border'>
                                
                            </div>
                            <div class='row border'>
                                <h1>Percent</h1>
                            </div>
                            <div class='row border'>
                                
                            </div>
                            <div class='row border'>
                                
                            </div>
                        </div>
                        <div class='column'>
                            <div class='row border'>
                                <h1>Interior Finish</h1>
                            </div>
                            <div class='row border'>
                                
                            </div>
                            <div class='row border'>
                                
                            </div>
                            <div class='row border'>
                                
                            </div>
                            <div class='row border'>
                                
                            </div>
                        </div>
                        <div class='column'>
                            <div class='row border'>
                                <h1>Total Time</h1>
                            </div>
                            <div class='row border'>
                                
                            </div>
                            <div class='row border'>
                                
                            </div>
                            <div class='row border'>
                                
                            </div>
                            <div class='row border'>
                                
                            </div>
                        </div>
                    </div>
                    <div class='row border'>
                        <h1>Console:</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>