<!DOCTYPE html>
<html lang="en">
    <head>
        <title>REV DMPT Survey</title>
        <meta charset="UTF-8">
        <script src="/javascripts/index.js"></script>
        <link rel='stylesheet' href='/stylesheets/style.css'>
    </head>
    <body>
        <div class='wrapper'>
            <div class = 'main-row'>
                <div class='column light' style="flex: 398;">
                    <div class='row border' style="flex:339;">
                        <h1 id="trim">TRIM: LUXURY</h1>
                    </div>
                    <div class='row border' style="flex: 1027;">
                        <h1>CONFIGURATION</h1>
                    </div>
                </div>
                <div class='column' style="flex: 968;">
                    <div class='row light' style="flex: 143;">
                        <div class='column' style="flex: 237;">
                            <div class='row border'>
                                <h1>General Motors</h1>
                            </div>
                            <div class='row border'>
                                <h1>Client</h1>
                            </div>
                        </div>
                        <div class='column' style="flex: 728;">
                            <div class='row border'>
                                <h1>01246</h1>
                            </div>
                            <div class='row border'>
                                <h1>Participant ID</h1>
                            </div>
                        </div>
                    </div>
                    <div class='row dark border' style="flex: 84">
                        <h1>Data Parameters: Cadillac Lyriq</h1>
                    </div>
                    <div class='row dark' style="flex: 289;">
                        <div class='column'>
                            <div class='row' style="flex: 112;">
                                <div class='column border col1'>
                                    <h2>Config. time var.</h2>
                                </div>
                                <div class='column border col2'>
                                    <h2>Wheels</h2>
                                </div>
                                <div class='column border col3'>
                                    <h2>Paint Finish</h2>
                                </div>
                                <div class='column border col4'>
                                    <h2>Interior Finish</h2>
                                </div>
                                <div class='column border col5'>
                                    <h2>Total Time</h2>
                                </div>
                            </div>
                            <div class='row' style="flex: 84;">
                                <div class='column border col1'>
                                    <h2>Top Paint Finish</h2>
                                </div>
                                <div class='column border col2'>
                                    <h2>Opulent Blue</h2>
                                </div>
                                <div class='column border col3'>
                                    <h2></h2>
                                </div>
                                <div class='column border col4'>
                                    <h2></h2>
                                </div>
                                <div class='column border col5'>
                                    <h2></h2>
                                </div>
                            </div>
                            <div class='row' style="flex: 94;">
                                <div class='column border col1'>
                                    <h2>Top Trim Config.</h2>
                                </div>
                                <div class='column border col2'>
                                    <h2>Tech</h2>
                                </div>
                                <div class='column border col3'>
                                    <h2>% 65</h2>
                                </div>
                                <div class='column border col4'>
                                    <h2></h2>
                                </div>
                                <div class='column border col5'>
                                    <h2></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row light' style="flex: 33;">
                        <div class='column border col1'>
                        </div>
                        <div class='column border col2'>
                            <h2>Total</h2>
                        </div>
                        <div class='column border col3'>
                        </div>
                        <div class='column border col4'>
                        </div>
                        <div class='column border col5'>
                        </div>
                    </div>
                    <div class='row dark' style="flex: 63;">
                        <div class='column border col1'>
                            <h2>Time in Survey</h2>
                        </div>
                        <div class='column border col2'>
                            <h2>00:00</h2>
                        </div>
                        <div class='column border col3'>
                        </div>
                        <div class='column border col4'>
                        </div>
                        <div class='column border col5'>
                        </div>
                    </div>
                    <div class='row light' style="flex: 33;">
                        <div class='column border col1'>
                        </div>
                        <div class='column border col2'>
                        </div>
                        <div class='column border col3'>
                        </div>
                        <div class='column border col4'>
                        </div>
                        <div class='column border col5'>
                        </div>
                    </div>
                    <div class='row dark' style="flex: 63;">
                        <div class='column border col1'>
                        </div>
                        <div class='column border col2'>
                        </div>
                        <div class='column border col3'>
                        </div>
                        <div class='column border col4'>
                        </div>
                        <div class='column border col5'>
                        </div>
                    </div>
                    <div class='row light border' style="flex: 63;">
                        <h1>Survey</h1>
                    </div>
                    <div class='row dark border' style="flex: 252;">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>