.wrapper, html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-wrap: nowrap;
}

.row {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: nowrap;
}

.col1 {
    flex: 237;
}

.col2 {
    flex: 112;
}

.col3 {
    flex: 156;
}

.col4 {
    flex: 208;
}

.col5 {
    flex: 256;
}

.survey-col {
    flex: 620;
}

.text-padding {
    padding-left: 16px;
}

.light {
    background-color: #bfb0c7;
}

.dark {
    background-color: #9575aa;
}

.border {
    border: 1px solid black;
}